.main {
  margin-top: 6rem;
}

.wrapper {
  margin-top: 20px;
  border-radius: 10px;
  background: var(--color-white);
  padding: 1rem;
  box-shadow: 0px 8px 16px rgba(37, 37, 37, 0.1);
}

.table {
  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  border-color: #dee2e6;
  min-width: 600px;
}

.row {
  display: flex;
}

.col {
  flex-basis: 23%;
  width: 23%;
  flex: 1;

  @supports (grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))) {
    flex: unset;
  }

  &:nth-child(1) {
    min-width: 180px;
  }
  &:nth-child(2) {
    min-width: 290px;
  }
  &:nth-child(3) {
    min-width: 130px;
  }
  &:nth-child(4) {
    min-width: 70px;
  }

  &:last-child {
    flex-basis: 8%;
  }
}
